USE [master]
GO
/****** Object:  Database [BeratAj]    Script Date: 09/06/2017 11:32:48 ق.ظ ******/
CREATE DATABASE [BeratAj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BeratAj', FILENAME = N'D:\BeratAj.mdf' , SIZE = 17408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BeratAj_log', FILENAME = N'D:\BeratAj_log.ldf' , SIZE = 15040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BeratAj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BeratAj]
GO
/****** Object:  User [berataj]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
CREATE USER [berataj] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [berat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
CREATE USER [berat] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Babats]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Babats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Babats] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Babat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bank]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameBank] [nvarchar](200) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Berat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Berat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MotorKhaneId] [int] NULL,
	[DatePrint] [nvarchar](10) NULL,
	[DateMohlat] [nvarchar](10) NULL,
	[PrintNumber] [int] NULL,
	[TedadMalek] [int] NULL,
	[PriceKol] [bigint] NULL,
	[MinPrice] [float] NULL,
	[Babat] [nvarchar](max) NULL,
	[FactorId] [int] NULL,
	[PriceFactor] [int] NULL,
 CONSTRAINT [PK_Berat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BeratMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeratMalek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBerat] [int] NULL,
	[MalekId] [int] NULL,
	[MotorkhaneId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Family] [nvarchar](100) NULL,
	[Ehteram] [nvarchar](50) NULL,
	[FatherName] [nvarchar](100) NULL,
	[MinAb] [int] NULL,
	[SecAb] [int] NULL,
	[Habe] [nvarchar](max) NULL,
	[Bedehi] [bigint] NULL,
	[Price] [bigint] NULL,
	[CodeMelli] [nvarchar](12) NULL,
	[Mobile] [nvarchar](13) NULL,
 CONSTRAINT [PK_BeratMalek] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ehteram]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ehteram](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ehteram] [nvarchar](200) NULL,
 CONSTRAINT [PK_Ehteram] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FactorId] [int] NULL,
	[MotorkhaneId] [int] NULL,
	[DateFactor] [nvarchar](10) NULL,
	[DeptorPrice] [int] NULL CONSTRAINT [DF_Factor_DeptorPrice]  DEFAULT ((0)),
	[CreditorPrice] [int] NULL CONSTRAINT [DF_Factor_CreditorPrice]  DEFAULT ((0)),
 CONSTRAINT [PK_Factor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Malekin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Malekin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MalekId] [int] NULL,
	[MotorkhaneId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Family] [nvarchar](100) NULL,
	[EhteramId] [int] NULL,
	[FatherName] [nvarchar](100) NULL,
	[MinAb] [int] NULL,
	[SecAb] [float] NULL,
	[Habe] [nvarchar](max) NULL,
	[CodeMelli] [nvarchar](12) NULL,
	[Mobile] [nvarchar](13) NULL,
 CONSTRAINT [PK_Malekin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mohlat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mohlat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mohlat] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mohlat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Motorkhane]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorkhane](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](50) NULL,
	[Code4] [nvarchar](4) NULL,
	[CodeSahraei] [nvarchar](50) NULL,
	[MedarAb] [nvarchar](50) NULL,
	[MinKol] [int] NULL,
	[HabeMin] [int] NULL,
	[HabeKol] [int] NULL,
	[IdBank] [int] NULL,
	[ShomareHesab] [nvarchar](100) NULL,
	[NameMotesadi] [nvarchar](200) NULL,
	[MobileMotesadi] [nvarchar](13) NULL,
	[PhoneMotesadi] [nvarchar](13) NULL,
	[NameMotorChi] [nvarchar](200) NULL,
	[MobileMotorChi] [nvarchar](13) NULL,
 CONSTRAINT [PK_Motorkhane] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Price]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[Id] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeFactor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeFactor](
	[FactorId] [bit] NOT NULL,
	[TypeName] [nchar](10) NULL,
 CONSTRAINT [PK_TypeFactor] PRIMARY KEY CLUSTERED 
(
	[FactorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[PasswordId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Years]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Years](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
 CONSTRAINT [PK_Years] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ViewBeratByName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewBeratByName]
AS
SELECT        dbo.Berat.Id, dbo.Berat.MotorKhaneId, dbo.Motorkhane.Name, dbo.Berat.DatePrint, dbo.Berat.DateMohlat, dbo.Berat.PrintNumber, dbo.Berat.TedadMalek, dbo.Berat.PriceKol, dbo.Berat.MinPrice, dbo.Berat.Babat, 
                         dbo.Berat.FactorId, dbo.Berat.PriceFactor
FROM            dbo.Berat INNER JOIN
                         dbo.Motorkhane ON dbo.Berat.MotorKhaneId = dbo.Motorkhane.Id

GO
/****** Object:  View [dbo].[ViewMalekin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewMalekin]
AS
SELECT        dbo.Malekin.Id, dbo.Malekin.MalekId, dbo.Malekin.MotorkhaneId, dbo.Malekin.Name, dbo.Malekin.Family, dbo.Ehteram.Ehteram, dbo.Malekin.FatherName, dbo.Malekin.MinAb, dbo.Malekin.SecAb, 
                         dbo.Malekin.Habe, dbo.Malekin.CodeMelli, dbo.Malekin.Mobile
FROM            dbo.Ehteram INNER JOIN
                         dbo.Malekin ON dbo.Ehteram.Id = dbo.Malekin.EhteramId

GO
/****** Object:  View [dbo].[ViewMotorkahneByBankName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewMotorkahneByBankName]
AS
SELECT        dbo.Motorkhane.Id, dbo.Motorkhane.Name, dbo.Motorkhane.Code, dbo.Motorkhane.Code4, dbo.Motorkhane.CodeSahraei, dbo.Motorkhane.MedarAb, 
                         dbo.Motorkhane.MinKol, dbo.Motorkhane.HabeMin, dbo.Motorkhane.HabeKol, dbo.Bank.NameBank, dbo.Motorkhane.ShomareHesab, 
                         dbo.Motorkhane.NameMotesadi, dbo.Motorkhane.MobileMotesadi, dbo.Motorkhane.PhoneMotesadi, dbo.Motorkhane.NameMotorChi, 
                         dbo.Motorkhane.MobileMotorChi
FROM            dbo.Bank INNER JOIN
                         dbo.Motorkhane ON dbo.Bank.Id = dbo.Motorkhane.IdBank

GO
/****** Object:  StoredProcedure [dbo].[CheckPass]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckPass]
	@check bit output,
	@pass nvarchar(50)
AS
BEGIN
	set @check=(select COUNT(*) from Users where PasswordId=@pass)
END

GO
/****** Object:  StoredProcedure [dbo].[CheckUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUser]
	@check bit output,
	@user nvarchar(50)
AS
BEGIN
	set @check=(select COUNT(*) from Users where Username=@user)
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteBabat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBabat]
	@id int
AS
BEGIN
	delete from Babats
	where id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteBank]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBank]
	@Id			int
AS
BEGIN
	Delete Bank
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteBerats]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBerats]
	@Id					int,
	@FactorId			int
AS
BEGIN
	Delete from Factor
	Where FactorId=@FactorId
	Delete from Berat
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteEhteram]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEhteram]
	@Id				int
AS
BEGIN
	Delete From Ehteram
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteFactor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteFactor]
	@Id		int
AS
BEGIN
	Delete	From	Factor
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteFactorByFactorId]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteFactorByFactorId]
	@FactorId		int
AS
BEGIN
	Delete From Factor
	Where FactorId=@FactorId
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMalek]
	@Id					int
AS
BEGIN
	Delete From Malekin
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteMelekin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteMelekin]
	@IdBerat	int
AS
BEGIN
	Delete from BeratMalek
	Where IdBerat=@IdBerat
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteMohlat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteMohlat]
	@Id		int
AS
BEGIN
	Delete from Mohlat
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteMotorkhane]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMotorkhane]
	@Id			int
AS
BEGIN
	Delete From Malekin Where MotorkhaneId=@Id
	Delete from Motorkhane
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
	@Id			int
AS
BEGIN
	Delete Users
	Where UserId=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[ExistMalekId]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[ExistMalekId]
	@Exists		Bit		OutPut,
	@MotorkhaneId	int,
	@MalekId		int
AS
BEGIN
	Set		@Exists=(Select Count(*) From Malekin	Where MotorkhaneId=@MotorkhaneId	And	MalekId=@MalekId)
END

GO
/****** Object:  StoredProcedure [dbo].[ExistPrice]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ExistPrice]
	@Exist	Bit Output
AS
BEGIN
	set @Exist=(Select COUNT(*) From Price )
END

GO
/****** Object:  StoredProcedure [dbo].[ExistUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExistUser]
	@Exist	bit		output
AS
BEGIN
	Set @Exist=(Select COUNT(*) from Users)
END

GO
/****** Object:  StoredProcedure [dbo].[ExistUsername]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ExistUsername]
	@Exist	Bit Output,
	@User	nvarchar(50)
AS
BEGIN
	Set @Exist=(Select Count(*) From Users Where Username=@User)
END

GO
/****** Object:  StoredProcedure [dbo].[FillBabat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillBabat]

AS
BEGIN
	Select * from Babats
END

GO
/****** Object:  StoredProcedure [dbo].[FillBank]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillBank]
AS
BEGIN
	Select * from Bank
END

GO
/****** Object:  StoredProcedure [dbo].[FillBankById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillBankById]
	@Id		int
AS
BEGIN
	Select * from Ehteram
	Where	Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FillBeratByDate]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillBeratByDate]
	@StartDate		nvarchar(10),
	@EndDate		nvarchar(10)
AS
BEGIN
	if	@StartDate>@EndDate
		Select * from ViewBeratByName
		Where DatePrint>=@EndDate and DatePrint<=@StartDate
	else
		Select * from ViewBeratByName
		Where DatePrint>=@StartDate and DatePrint<=@EndDate
END

GO
/****** Object:  StoredProcedure [dbo].[FillBeratMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FillBeratMalek]
	@BeratId int
AS
BEGIN
	Select * from BeratMalek Where IdBerat=@BeratId
	END

GO
/****** Object:  StoredProcedure [dbo].[FillEhteram]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillEhteram]
AS
BEGIN
	Select * from Ehteram
END

GO
/****** Object:  StoredProcedure [dbo].[FillEhteramById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillEhteramById]
	@Id		int
AS
BEGIN
	Select *	From Ehteram
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FillFactorById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillFactorById]
	@MotorId		int
AS
BEGIN
	Select * From Factor Where MotorkhaneId=@MotorId
	Order By DateFactor,FactorId
END

GO
/****** Object:  StoredProcedure [dbo].[FillMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillMalek]
	@MotorId		int
AS
BEGIN
	Select * From Malekin
	Where MotorkhaneId=@MotorId
	Order By MalekId
END

GO
/****** Object:  StoredProcedure [dbo].[FillMalekById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillMalekById]
	@Id					int
AS
BEGIN
	Select * From Malekin
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FillMalekOrder]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillMalekOrder]
@MotorId		int
AS
BEGIN
	Select * From ViewMalekin
	Where MotorkhaneId=@MotorId
	Order By Family,Name,FatherName
END

GO
/****** Object:  StoredProcedure [dbo].[FillMohlat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FillMohlat]
	
AS
BEGIN
	Select * from Mohlat
END

GO
/****** Object:  StoredProcedure [dbo].[FillMotorByBankName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FillMotorByBankName]
	@Id			int
AS
BEGIN
	Select * from ViewMotorkahneByBankName
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FillMotorkhane]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillMotorkhane]
AS
BEGIN
	Select * from Motorkhane
	Order By Name,Code
END

GO
/****** Object:  StoredProcedure [dbo].[FillMotorkhaneById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillMotorkhaneById]
	@Id			int
AS
BEGIN
	Select * from Motorkhane
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FillUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillUser]
AS
BEGIN
	Select * from Users
END

GO
/****** Object:  StoredProcedure [dbo].[FillViewBerats]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillViewBerats]
AS
BEGIN
	Select * From ViewBeratByName
	order by DatePrint desc,FactorId desc
END

GO
/****** Object:  StoredProcedure [dbo].[FillViewMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillViewMalek]
	@MotorkhaneId	int 
AS
BEGIN
	Select * From ViewMalekin
	Where MotorkhaneId=@MotorkhaneId
	Order By MalekId
END

GO
/****** Object:  StoredProcedure [dbo].[FillViewMalkin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[FillViewMalkin]
	@MotorkhaneId	int 
AS
BEGIN
	Select * From ViewMalekin
	Where MotorkhaneId=@MotorkhaneId and ((MinAb!=0 and SecAb!=0) OR (MinAb!=0 and SecAb=0) OR (MinAb=0 and SecAb!=0))
	Order By MalekId
END

GO
/****** Object:  StoredProcedure [dbo].[FillViewMalkinAlphba]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FillViewMalkinAlphba]
	@MotorkhaneId	int 
AS
BEGIN
	Select * From ViewMalekin
	Where MotorkhaneId=@MotorkhaneId and ((MinAb!=0 and SecAb!=0) OR (MinAb!=0 and SecAb=0) OR (MinAb=0 and SecAb!=0))
	Order By Family,Name,MalekId
END

GO
/****** Object:  StoredProcedure [dbo].[FillViewMotorkhane]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FillViewMotorkhane]
As
BEGIN
	Select * From ViewMotorkahneByBankName
	Order By Id
END

GO
/****** Object:  StoredProcedure [dbo].[FillViewMotorkhaneById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FillViewMotorkhaneById]
	@Id			int
AS
BEGIN
	Select * From ViewMotorkahneByBankName
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FilteMalekByName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FilteMalekByName]
	@Name		nvarchar(MAX),
	@Id			int
AS
BEGIN
	Select * From ViewMalekin
	Where	Name like	'%'+@Name+'%'	Or	Family like  '%'+@Name+'%' And MotorkhaneId=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[FilterMotorkhaneByName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FilterMotorkhaneByName]
	@Name		nvarchar(MAX)
AS
BEGIN
	Select * From Motorkhane
	Where	Name like	'%'+@Name+'%'
END

GO
/****** Object:  StoredProcedure [dbo].[FilterViewBeratsByName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FilterViewBeratsByName]
	@Name		nvarchar(MAX)
AS
BEGIN
	Select * From ViewBeratByName
	Where Name like '%'+@Name+'%'
END

GO
/****** Object:  StoredProcedure [dbo].[FilterViewMotorkhaneByName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FilterViewMotorkhaneByName]
	@Name		nvarchar(MAX)
AS
BEGIN
	Select * From ViewMotorkahneByBankName
	Where	Name like	'%'+@Name+'%'
END

GO
/****** Object:  StoredProcedure [dbo].[GetBalances]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBalances]
	@MotorId		int,
	@Balance		int		Output
AS
BEGIN
	if (Select COUNT(*) from Factor Where MotorkhaneId=@MotorId)>0
	Set @Balance=(Select Sum(CreditorPrice) From Factor Where MotorkhaneId=@MotorId)
				-(Select Sum(DeptorPrice) From Factor Where MotorkhaneId=@MotorId)
	else Set @Balance=0
END

GO
/****** Object:  StoredProcedure [dbo].[GetBankName]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetBankName]
	@Id		int,
	@Bank	nvarchar(200)	Output
AS
BEGIN
	Set @Bank=(Select NameBank from ViewMotorkahneByBankName Where Id=@Id)
END

GO
/****** Object:  StoredProcedure [dbo].[GetHabeMin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHabeMin]
	@MotorId		int,
	@HabeMin		int		Output
AS
BEGIN
	Set	@HabeMin=(Select HabeMin From Motorkhane Where Id=@MotorId)	
END

GO
/****** Object:  StoredProcedure [dbo].[GetIdUserActive]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdUserActive]
	@Id		int		Output,
	@User	nvarchar(50)
AS
BEGIN
	Set @id=(Select UserId From Users Where Username=@User)
END

GO
/****** Object:  StoredProcedure [dbo].[GetMalekById]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMalekById]
	@Id				int,
	@MotorkhaneId	int,
	@MalekId		int					output,
	@Name			nvarchar(100)		output,
	@Family			nvarchar(100)		output,
	@Ehteram		nvarchar(200)		output,
	@FatherName		nvarchar(100)		output,
	@MinAb			int					output,
	@SecAb			float				output,
	@Habe			nvarchar(MAX)		output,
	@CodeMelli		nvarchar(12)		output,
	@Mobile			nvarchar(13)		output
AS
BEGIN
	Set		@MalekId=(Select MalekId from ViewMalekin Where Id=@Id)
	Set		@Name=(Select Name from ViewMalekin Where Id=@Id)
	Set		@Family=(Select Family from ViewMalekin Where Id=@Id)
	Set		@Ehteram=(Select Ehteram from ViewMalekin Where Id=@Id)
	Set		@FatherName=(Select FatherName from ViewMalekin Where Id=@Id)
	Set		@MinAb=(Select MinAb from ViewMalekin Where Id=@Id)
	Set		@SecAb=(Select SecAb from ViewMalekin Where Id=@Id)
	Set		@Habe=(Select Habe from ViewMalekin Where Id=@Id)
	Set		@CodeMelli=(Select CodeMelli from ViewMalekin Where Id=@Id)
	Set		@Mobile=(Select Mobile from ViewMalekin Where Id=@Id)
END

GO
/****** Object:  StoredProcedure [dbo].[GetMaxBeratId]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMaxBeratId]
	@BeratId	int		output
AS
BEGIN
	set @BeratId=(Select Max(Id) from Berat)
END

GO
/****** Object:  StoredProcedure [dbo].[GetMaxNumFactor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMaxNumFactor]
	@FactorId int output
AS
BEGIN
	set @FactorId=(select max(FactorId) from Factor where CreditorPrice=0 and DeptorPrice!=0)
END

GO
/****** Object:  StoredProcedure [dbo].[GetMinKolMotor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMinKolMotor]
	@MotorId		int,
	@MinKol			int		Output
AS
BEGIN
	Set	@MinKol=(Select MinKol From Motorkhane Where Id=@MotorId)
END

GO
/****** Object:  StoredProcedure [dbo].[GetPassAdmin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPassAdmin]
	@Pass	nvarchar(50)		Output
	as
BEGIN
	Set @Pass=(select PasswordId from Users Where Username='Admin')
END

GO
/****** Object:  StoredProcedure [dbo].[GetPassUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPassUser]
	@Id		int,
	@Pass	nvarchar(50)		Output
AS
BEGIN
	Set @Pass=(select PasswordId from Users Where UserId=@Id)
END

GO
/****** Object:  StoredProcedure [dbo].[GetPrice]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPrice]
	@Price		int		output
AS
BEGIN
	set @Price=(Select Price From Price Where Id=1)
END

GO
/****** Object:  StoredProcedure [dbo].[GetSumMin]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSumMin]
	@MotorId		int,
	@Min			int		Output,
	@Sec			float		Output
AS
BEGIN
	Set	@Min=(Select Sum(MinAb) From Malekin Where MotorkhaneId=@MotorId)
	Set @Sec=(Select Sum(SecAb) From Malekin Where MotorkhaneId=@MotorId)
END

GO
/****** Object:  StoredProcedure [dbo].[GetSumTedadMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSumTedadMalek]
	@MotorId		int,
	@SumMalek			int		Output
AS
BEGIN
	Set	@SumMalek=(Select COUNT(MalekId) From Malekin Where MotorkhaneId=@MotorId and ((MinAb!=0 and SecAb!=0) OR (MinAb!=0 and SecAb=0) OR (MinAb=0 and SecAb!=0)))
END

GO
/****** Object:  StoredProcedure [dbo].[InsertBabat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertBabat]
	@Babat	nvarchar(max)
AS
BEGIN
	insert into Babats
	values (@Babat)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertBank]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertBank]
	@Name		nvarchar(200)
AS
BEGIN
	Insert Into Bank
	Values (@Name)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertBerat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertBerat]
	@MotorkhaneId		int,
	@DatePrint			nvarchar(10),
	@DateMohlat			nvarchar(10),
	@PrintNumber			int,
	@TedadMalek			int,
	@PriceKol			bigint,
	@MinPrice			float,
	@Babat				nvarchar(MAX),
	@FactorId			int,
	@PriceFactor		int
AS
BEGIN
	Insert into Berat
	values (@MotorkhaneId,@DatePrint,@DateMohlat,@PrintNumber,@TedadMalek,@PriceKol,@MinPrice,@Babat,@FactorId,@PriceFactor)
	insert into Factor
	Values (@FactorId,@MotorkhaneId,@DatePrint,@PriceFactor,0)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertEhteram]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEhteram]
	@Ehteram		nvarchar(200)
AS
BEGIN
	Insert into Ehteram
	Values	(@Ehteram)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertFactorCreditor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertFactorCreditor]
	@FactorId		int,
	@MotorkhaneId	int,
	@DateFactor		nvarchar(10),
	@PriceCreditor	int
AS
BEGIN
	Insert	into Factor
	Values	(@FactorId,@MotorkhaneId,@DateFactor,0,@PriceCreditor)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertFactorDeptor]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertFactorDeptor]
	@FactorId		int,
	@MotorkhaneId	int,
	@DateFactor		nvarchar(10),
	@PriceDeptor	int
AS
BEGIN
	Insert	into Factor
	Values	(@FactorId,@MotorkhaneId,@DateFactor,@PriceDeptor,0)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMalek]
	@MalekId			int,
	@MotorkhaneId		int,
	@Name				nvarchar(100),
	@Family				nvarchar(100),
	@EhteramId			int,
	@FatherName			nvarchar(100),
	@MinAb				int,
	@SecAb				float,
	@Habe				nvarchar(MAX),
	@CodeMelli			nvarchar(12),
	@Mobile				nvarchar(13)
AS
BEGIN
	Insert	into Malekin
	Values	(@MalekId,@MotorkhaneId,@Name,@Family,@EhteramId,@FatherName,@MinAb,@SecAb,@Habe,@CodeMelli,@Mobile)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertMalekBerat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertMalekBerat]
	@IdBerat			int,
	@MalekId			int,
	@MotorkhaneId		int,
	@Name				nvarchar(100),	
	@Family				nvarchar(100),
	@Ehteram			nvarchar(50),
	@FatherName			nvarchar(100),
	@MinAb				int,
	@SecAb				int,
	@Habe				nvarchar(MAX),
	@Bedehi				bigint,
	@Price				bigint,
	@CodeMelli			nvarchar(12),
	@Mobile				nvarchar(13)
AS
BEGIN
	insert into BeratMalek
	values (@IdBerat,@MalekId,@MotorkhaneId,@Name,@Family,@Ehteram,@FatherName,@MinAb,@SecAb,@Habe,@Bedehi,@Price,@CodeMelli,@Mobile)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertMohlat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertMohlat]
	@Mohlat		nvarchar(50)
AS
BEGIN
	insert into Mohlat
	values (@Mohlat)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertMotorkhane]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMotorkhane]
	@Name		nvarchar(MAX),
	@Code		nvarchar(50),
	@Code4		nvarchar(4),
	@CodeSahraei	nvarchar(50),
	@MedaAb		nvarchar(50),
	@MinKol		int,
	@HabeMin	int,
	@TedadHabe	int,
	@IdBank		int,
	@ShomareHesab	nvarchar(100),
	@NameMotesadi	nvarchar(200),
	@MobileMotesadi	nvarchar(13),
	@PhoneMotesadi	nvarchar(13),
	@NameMotorchi	nvarchar(200),
	@MobileMotorchi	nvarchar(13)
AS
BEGIN
	Insert	into Motorkhane
	Values (@Name,	@Code,	@Code4,	@CodeSahraei,	@MedaAb,	@MinKol,	@HabeMin,	@TedadHabe,	@IdBank,	@ShomareHesab,	@NameMotesadi,	@MobileMotesadi,	@PhoneMotesadi,	@NameMotorchi,	@MobileMotorchi)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertPrice]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertPrice]
	@Price		int
AS
BEGIN
	Insert into Price 
	Values (1,@Price)
END

GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
	@Username	nvarchar(50),
	@Password	nvarchar(50)
AS
BEGIN
	Insert into Users
	Values (@Username,@Password)
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateBabat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateBabat]
	@id		int,
	@babat	nvarchar(max)
AS
BEGIN
	update	Babats
	set Babats=@babat
	where id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateBank]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBank]
	@Id			int,
	@Name		nvarchar(200)
AS
BEGIN
	Update Bank
	Set
	NameBank=@Name
	Where 
	Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateBerat]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBerat]
	@Id					int,
	@MotorkhaneId		int,
	@DatePrint			nvarchar(10),
	@DateMohlat			nvarchar(10),
	@PrintNumber		int,
	@TedadMalek			int,
	@PriceKol			int,
	@MinPrice			float,
	@Babat				nvarchar(MAX),
	@FactorId			int,
	@PriceFactor		int
AS
BEGIN
	Update Berat
	Set
	MotorKhaneId=@MotorkhaneId,
	DatePrint=@DatePrint,
	DateMohlat=@DateMohlat,
	PrintNumber=@PrintNumber,
	TedadMalek=@TedadMalek,
	PriceKol=@PriceKol,
	MinPrice=@MinPrice,
	Babat=@Babat,
	FactorId=@FactorId,
	PriceFactor=@PriceFactor
	Where Id=@Id
	Update Factor
	Set
	MotorkhaneId=@MotorkhaneId,
	DateFactor=@DatePrint,
	DeptorPrice=@PriceFactor
	Where FactorId=@FactorId
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateBeratMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateBeratMalek]
	@Id		int,
	@Bedehi		bigint
AS
BEGIN
Declare @Price	bigint;
Set @Price=(select Price from BeratMalek where Id=@Id)
Declare @BedehiPast bigint;
Set @BedehiPast=(select Bedehi from BeratMalek where Id=@Id)
	Update BeratMalek
	Set
	Bedehi=@Bedehi,
	Price=@Price+@Bedehi-@BedehiPast
	where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateBeratMalekBedehi]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBeratMalekBedehi]
	@Id		int,
	@Bedehi		bigint
AS
BEGIN
	Update BeratMalek
	Set
	Bedehi=@Bedehi
	where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateEhteram]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEhteram]
	@Id				int,
	@Ehteram		nvarchar(200)
AS
BEGIN
	Update		Ehteram
	Set
	Ehteram=@Ehteram
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateMalek]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMalek]
	@Id					int,
	@MalekId			int,
	@MotorkhaneId		int,
	@Name				nvarchar(100),
	@Family				nvarchar(100),
	@EhteramId			int,
	@FatherName			nvarchar(100),
	@MinAb				int,
	@SecAb				float,
	@Habe				nvarchar(MAX),
	@CodeMelli			nvarchar(12),
	@Mobile				nvarchar(13)
AS
BEGIN
	Update		Malekin
	Set
	MalekId=@MalekId,
	MotorkhaneId=@MotorkhaneId,
	Name=@Name,
	Family=@Family,
	EhteramId=@EhteramId,
	FatherName=@FatherName,
	MinAb=@MinAb,
	SecAb=@SecAb,
	Habe=@Habe,
	CodeMelli=@CodeMelli,
	Mobile=@Mobile
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateMalekId]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateMalekId]
@Id					int,
	@MalekId			int
AS
BEGIN
	Update		Malekin
	Set
	MalekId=@MalekId
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateMotorkhane]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMotorkhane]
	@Id			int,
	@Name		nvarchar(MAX),
	@Code		nvarchar(50),
	@Code4		nvarchar(4),
	@CodeSahraei	nvarchar(50),
	@MedaAb		nvarchar(50),
	@MinKol		int,
	@HabeMin	int,
	@TedadHabe	int,
	@IdBank		int,
	@ShomareHesab	nvarchar(100),
	@NameMotesadi	nvarchar(200),
	@MobileMotesadi	nvarchar(13),
	@PhoneMotesadi	nvarchar(13),
	@NameMotorchi	nvarchar(200),
	@MobileMotorchi	nvarchar(13)
AS
BEGIN
	Update Motorkhane
	Set
	Name=@Name,
	Code=@Code,
	Code4=@Code4,
	CodeSahraei=@CodeSahraei,
	MedarAb= @MedaAb	,
	MinKol= @MinKol	,
	HabeMin= @HabeMin,
	HabeKol= @TedadHabe,
	IdBank= @IdBank,
	ShomareHesab= @ShomareHesab,
	NameMotesadi= @NameMotesadi,
	MobileMotesadi= @MobileMotesadi,
	PhoneMotesadi= @PhoneMotesadi,
	NameMotorChi= @NameMotorchi,
	MobileMotorChi= @MobileMotorchi
	Where Id=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdatePrice]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdatePrice]
	@Price		int
AS
BEGIN
	Update Price 
	set Price=@Price
	Where id=1
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 09/06/2017 11:32:49 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@Id			int,
	@Username	nvarchar(50),
	@Password	nvarchar(50)
AS
BEGIN
	Update Users
	Set 
	Username=@Username,
	PasswordId=@Password
	Where UserId=@Id
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[5] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Berat"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "Motorkhane"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 13
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewBeratByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewBeratByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[29] 4[5] 2[38] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ehteram"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 101
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Malekin"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 135
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 690
         Width = 105
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewMalekin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewMalekin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Bank"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 101
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Motorkhane"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 135
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 11
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewMotorkahneByBankName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewMotorkahneByBankName'
GO
USE [master]
GO
